spring:
  datasource:
    url: jdbc:mysql://localhost:3306/user_rest_service_database?serverTimezone=CET
    username: root
    password: root
    initialization-mode: always
  jpa:
    database: mysql
    hibernate:
      ddl-auto: create-drop
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${gmail.login}
    password: ${gmail.password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
springdoc:
  swagger-ui:
    operations-sorter: method
site:
  transcendence:
    mail:
      registration-confirmation-enabled: true
      password-reset-enabled: true